{{ define "base" }}
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
  </head>
  <body>
    <div id="layout">
      <header class="navbar b-menu">
        <section class="navbar-section">
          <a href="/" class="navbar-brand mr-2">Blueshift</a>
          <a href="/releases/" class="btn btn-link">Releases</a>
          <a href="/tracks/" class="btn btn-link">Tracks</a>
        </section>
      </header>
      <div id="main">
        {{ template "content" . }}
      </div>
    </div>
  </body>
</html>
{{ end }}
